<app-header [showName]="showName"></app-header>
<main class="main">
  <div class="main__headerWrapper">
    <h1 class="main__header">Nagłówek H1</h1>
  </div>
  <section class="main__blocks">
    <div class="section__one">
      <app-section-one (optionValue)="receivedOption($event)"></app-section-one>
    </div>
    <div class="section__two">
      <app-section-two
        [optionValue]="option"
        (text)="textLog($event)"
      ></app-section-two>
    </div>
    <div class="section__three">
      <app-section-long-name [newContent]="newData"></app-section-long-name>
    </div>
  </section>
</main>
<app-footer
  (showName)="setShowName()"
  (clickReset)="setReset()"
  class="footer"
></app-footer>
