@import "../../../variables";
.main {
  display: flex;
  flex-flow: column;
  &__headerWrapper {
    display: flex;
    justify-content: center;
    .main__header {
      font-weight: normal;
      margin: 2rem;
      position: relative;
      display: inline-block;
      &::after {
        content: "";
        top: 3.5rem;
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        width: 80%;
        height: 0.1rem;
        background-color: $fontWhite;
      }
    }
  }
  &__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .section__one {
      grid-area: 1 / 1 / 2 / 2;
    }
    .section__two {
      grid-area: 1 / 2 / 2 / 3;
    }
    .section__three {
      grid-area: 2 / 1 / 3 / 3;
    }
  }
}
@media only screen and (min-width: 960px) {
  .main {
    &__headerWrapper {
      margin-bottom: 3rem;
    }
    &__blocks {
      grid-template-columns: repeat(3, 33%);
      grid-template-rows: 1fr;
      .section__one {
        grid-area: 1 / 1 / 2 / 2;
      }
      .section__two {
        grid-area: 1 / 2 / 2 / 3;
      }
      .section__three {
        grid-area: 1 / 3 / 2 / 4;
      }
    }
  }
}
