@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: $grey;
  font-family: "Open Sans", sans-serif;
  color: $fontWhite;
  display: flex;
  flex-direction: column;
}
