<section class="block">
  <h2 class="block__title">
    Blok z długą nazwą, która sama się przytnie jak będzie taka potrzeba
  </h2>
  <p class="block__text">
    <span *ngIf="this.newContent[1] === ''"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      quibusdam dicta, vel distinctio temporibus totam, laboriosam aut, deleniti
      dolore qui iure at! Illo facilis voluptas dolor earum facere fuga nemo
      recusandae molestias rerum culpa suscipit ratione et corrupti repudiandae,
      reiciendis deserunt. Veniam nobis optio veritatis tenetur. Quam fuga
      impedit, similique earum rem cumque vel quibusdam, aspernatur culpa
      dolorem a illo. Odio neque explicabo sit. At tempore numquam laudantium.
      Excepturi, doloribus?</span
    >
    <span *ngIf="this.newContent[1] === 'replace'">
      {{ this.newContent[0].content }}
    </span>
    <span *ngFor="let element of arr"> {{ element.content }} </span>
  </p>
</section>
