<footer class="footer">
  <div class="footer__css">
    <div class="css__border"></div>
    <p class="css__text">CSS is awesome</p>
  </div>
  <div class="footer__special">
    <p>nabthat</p>
  </div>
  <div class="footer__dropdown">
    <ul class="dropdown">
      <li class="dropdown__title">
        <span>Pokaż</span>
        <ul class="dropdown__menu">
          <li class="dropdown__option">> Zresetuj ustawienia</li>
          <li class="dropdown__option">> Pokaż dane osobowe</li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
