<section class="block">
  <h2 class="block__title">Blok pierwszy</h2>
  <div class="block__radios">
    <div class="radio">
      <label for="firstOption" class="radio__label">
        <input
          type="radio"
          id="firstOption"
          name="option"
          value="firstOption"
          class="radio__checkbox"
        />
        <span class="radio__design"></span>
        <span class="radio__text">Opcja pierwsza</span>
      </label>
    </div>
    <div class="radio">
      <label for="secondOption" class="radio__label">
        <input
          type="radio"
          id="secondOption"
          name="option"
          value="secondOption"
          class="radio__checkbox"
        />
        <span class="radio__design"></span>
        <span class="radio__text">Opcja druga</span>
      </label>
    </div>
    <div class="radio">
      <label for="randomOption" class="radio__label">
        <input
          type="radio"
          id="randomOption"
          name="option"
          value="randomOption"
          class="radio__checkbox"
        />
        <span class="radio__design"></span>
        <span class="radio__text">Opcja losowa</span>
      </label>
    </div>
  </div>
</section>
